h1 {
  text-align: center;
  text-shadow: 6px 3px 4px #525252;
  font-family: 'Trebuchet MS', sans, serif;
  color: black;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
}

  .lista {
    width: 350px;
    height: 200px; 
    font-family: 'Tahoma',sans, serif;
    font-weight: bold;
    position: absolute;
    left: 40%;
    padding-bottom: 10px;
  }
  
  .syote{
    text-align: center;
  }
  
  ul {
    list-style-position: inside;
  }

  #wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: seashell;
    padding-bottom: 40%;
 }

ul li:hover{
    background-color: lightcoral;
    }

   footer {
    text-align: center;
    color: black;
}


body {
  background-color: lightcyan;
  padding-top: 25px;
  padding-bottom: 20px;
  background-image: url('ToDoListaKuva.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;