  h1 {
  text-align: center;
  text-shadow: 6px 3px 4px #525252;
  font-family: 'Trebuchet MS', sans, serif;
  color: black;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  }

  .lista {
    width: 350px;
    height: 200px; 
    font-family: 'Tahoma',sans, serif;
    font-weight: bold;
    position: absolute;
    left: 38.3%;
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  
  .syote{
    text-align: center;
    border-radius: 5px;
  }

  button {
    border-radius: 5px;
  }

  .addBtn:hover {
    background-color: lightblue;
  }

  #wrapper {
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    background-color: seashell;
    padding-bottom: 40%;
  }
  
  ul {
    list-style-position: inside;
    list-style-type: none;
    list-style: none;
    line-break: auto;
    word-break: break-word;
  }

  li {
    background-color: white;
    border: 1px solid;
    border-color: black;
    width: auto;
    cursor: pointer;
    padding-left: 5px;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: -20px;
  }

ul li:hover{
    background-color: lightblue;
    }

body {
  background-color: lightcyan;
  padding-top: 25px;
  padding-bottom: 20px;
  background-image: url('ToDoListaKuva.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.close {
  position: absolute;
  font-size: 15px;
  right: 0%;
  cursor: pointer;
  border: 1px solid;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  margin-right: 50px;
}

.close:hover {
  background: lightcoral;
}

hr {
  height: 1px;
  background-color: black;
}

/* Listan taustaväri muuttuu ja teksti yliviivataan kun tehtävän klikkaa suoritetuksi */
ul li.checked {
  background: lightgray;
  text-decoration: line-through;
} 
  /* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: green;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 5px;
  left: 1px;
  transform: rotate(45deg);
  height: 16px;
  width: 7px;
} 

textarea.required, input.required  {
  border: 1px solid red;
  background-color: #eee;
 }

input {
  border-radius: 5px;
}

/* removing the highlight on input text on select / click */
input::selection {
  background-color: transparent;
}