  h1 {
  text-align: center;
  text-shadow: 6px 3px 4px #525252;
  font-family: 'Trebuchet MS', sans, serif;
  color: black;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  }

  .lista {
<<<<<<< HEAD
    width: 350px;
    height: 200px; 
=======
    width: 305px;
    height: 100px; 
>>>>>>> b0f440c4584a09e08cf5e3bd0ab746595a4a20ff
    font-family: 'Tahoma',sans, serif;
    font-weight: bold;
    position: absolute;
    left: 38.5%;
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    
  }
  
  .syote{
    text-align: center;
  }

  button {
    border-radius: 5px;
  }

  #wrapper {
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    background-color: seashell;
    padding-bottom: 40%;
  }
  
  ul {
    list-style-position: inside;
    list-style-type: none;
    list-style: none;
    line-break: auto;
  }

  li {
    background-color: white;
    border: 1px solid;
    border-color: black;
   
  }

ul li:hover{
    background-color: lightblue;
    }

body {
  background-color: lightcyan;
  padding-top: 25px;
  padding-bottom: 20px;
  background-image: url('ToDoListaKuva.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.close {
  position: absolute;
  font-size: 15px;
  right: 0%;
  cursor: pointer;
  border: 1px solid;
}

.close:hover {
  background: lightcoral;
}

hr {
  height: 1px;
  background-color: black;
}
